.contenedor-principal {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.card {
  width: 15rem;;
}
@media (min-width:768px){/*Tableta estandar*/
  .contenedor-principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .card {
    width: 18rem;;
  }
}
@media (min-width:992px){/*Desktop estandar*/
  .contenedor-principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .card {
    width: 20rem;;
  }
}
@media (min-width:1200px){/*DesktopXL estandar*/
  .contenedor-principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .card {
    width: 20rem;;
  }
}
