<div class="container mt-2 contenedor-principal">
  <div class="card mt-2">
    <picture>
      <source srcset="assets/img/1.avif" type="image/avif">
      <source srcset="assets/img/1.webp" type="image/webp">
      <img src="assets/img/1.jpg" class="card-img-top" alt="imagen mexico">
    </picture>
    <div class="card-body">
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore beatae repudiandae nemo, necessitatibus
        ratione quidem fugiat ipsam delectus, dolores quisquam laborum ipsum, ad cupiditate numquam consequuntur. Corporis sunt quaerat
        debitis.</p>
    </div>
  </div>
  <div class="card mt-2">
    <picture>
      <source srcset="assets/img/2.avif" type="image/avif">
      <source srcset="assets/img/2.webp" type="image/webp">
      <img src="assets/img/2.jpg" class="card-img-top" alt="imagen mexico">
    </picture>
    <div class="card-body">
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore beatae repudiandae nemo, necessitatibus
        ratione quidem fugiat ipsam delectus, dolores quisquam laborum ipsum, ad cupiditate numquam consequuntur. Corporis sunt quaerat
        debitis.</p>
    </div>
  </div>
  <div class="card mt-2">
    <picture>
      <source srcset="assets/img/3.avif" type="image/avif">
      <source srcset="assets/img/3.webp" type="image/webp">
      <img src="assets/img/3.jpg" class="card-img-top" alt="imagen mexico">
    </picture>
    <div class="card-body">
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore beatae repudiandae nemo, necessitatibus
        ratione quidem fugiat ipsam delectus, dolores quisquam laborum ipsum, ad cupiditate numquam consequuntur. Corporis sunt quaerat
        debitis.</p>
    </div>
  </div>
  <div class="card mt-2">
    <picture>
      <source srcset="assets/img/4.avif" type="image/avif">
      <source srcset="assets/img/4.webp" type="image/webp">
      <img src="assets/img/4.jpg" class="card-img-top" alt="imagen mexico">
    </picture>
    <div class="card-body">
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore beatae repudiandae nemo, necessitatibus
        ratione quidem fugiat ipsam delectus, dolores quisquam laborum ipsum, ad cupiditate numquam consequuntur. Corporis sunt quaerat
        debitis.</p>
    </div>
  </div>
  <div class="card mt-2">
    <picture>
      <source srcset="assets/img/6.avif" type="image/avif">
      <source srcset="assets/img/6.webp" type="image/webp">
      <img src="assets/img/6.jpg" class="card-img-top" alt="imagen mexico">
    </picture>
    <div class="card-body">
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore beatae repudiandae nemo, necessitatibus
        ratione quidem fugiat ipsam delectus, dolores quisquam laborum ipsum, ad cupiditate numquam consequuntur. Corporis sunt quaerat
        debitis.</p>
    </div>
  </div>
  <div class="card mt-2">
    <picture>
      <source srcset="assets/img/9.avif" type="image/avif">
      <source srcset="assets/img/9.webp" type="image/webp">
      <img src="assets/img/9.jpg" class="card-img-top" alt="imagen mexico">
    </picture>
    <div class="card-body">
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore beatae repudiandae nemo, necessitatibus
        ratione quidem fugiat ipsam delectus, dolores quisquam laborum ipsum, ad cupiditate numquam consequuntur. Corporis sunt quaerat
        debitis.</p>
    </div>
  </div>
</div>

<app-pagetwo></app-pagetwo>
