<div class="sidebar">
  <!-- contenido del menú lateral -->
  <mat-list class="sidebar-lista">
    <mat-list-item (click)="infoPage1()" routerLink="">Pagina1</mat-list-item>
    <mat-list-item (click)="infoPage2()" routerLink="/contacto">Pagina2</mat-list-item>
  </mat-list>
</div>
<div class="content">
  <!-- contenido principal de la aplicación -->
  <header class="header"><!--Inicio Header-->
    <div class="contenedor">

        <div class="barra">
            <a class="logo">
              <h1 class="logo__nombre no-margin centrar-texto">Blog<span class="logo__bold">México</span></h1>
            </a>

            <nav *ngIf="mostrarPage" class="navegacion">
                <a href="#" class="navegacion__enlace">Maravillas</a>
                <a href="#" class="navegacion__enlace">Paisajes</a>
                <a class="navegacion__enlace">Contacto</a>
            </nav>
            <nav *ngIf="!mostrarPage" class="navegacion">
              <p>Pagina visualizada por:</p>
              <div class="form-check" (click)="adminClick()">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  Administrador
                </label>
              </div>
              <div class="form-check" (click)="otherClick()">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Otro
                </label>
              </div>
          </nav>
        </div>
    </div>
  </header><!--Fin Header-->

  <router-outlet></router-outlet>

  <footer class="footer"><!--Inicio Footer-->
    <div class="contenedor">
        <div class="barra">
            <a class="logo">
                <h1 class="logo__nombre no-margin centrar-texto">Blog<span class="logo__bold">México</span></h1>
            </a>

            <p>Desarrollador de software &copy;</p>
        </div>
    </div>
  </footer><!--Fin footer-->

</div>
