/** Header **/
.header {
  background-color: #008080;
}
.header__texto {
 text-align: center;
 color: white;
 margin-top: 5rem;
}
@media (min-width: 768px) {
  .header__texto {
      margin-top: 15rem;
  }
}
@media (min-width: 768px) {
  .barra {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
  }
}
.logo {
  color: white;
}
.logo__nombre {
  font-weight: 400;
  font-size: 2rem;
  padding: 5px 0;
}
@media (min-width: 768px) {
  .logo__nombre {
    padding: 0 0 0 0;
  }
}
.logo__bold {
  font-weight: 700;
}
@media (min-width: 768px) {
  .navegacion {
      display: flex;
      gap: 2rem;
  }
}
.navegacion__enlace {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: white;
}
/** Footer **/
.footer {
  background-color: #008080;
  margin-top: 4rem;
}
/*Drawer*/
mat-list-item {
  color: white!important;
  text-transform: uppercase;
}
mat-list-item:hover {
  background: white!important;
}
.container {
  width: 100%;
}
