.formulario {
  background-color: gray;
  width: min( 60rem, 100% ); /** Utilizar el valor más pequeño **/
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}
.formulario fieldset {
  border: none;
}
.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: white;
}
@media (min-width: 768px) {
  .contenedor-campos {
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 1rem;
  }

  .campo:nth-child(3),
  .campo:nth-child(4) {
      grid-column: 1 / 3;
  }
}
.campo {
  margin-bottom: 1rem;
}
.campo label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: .5rem;
  display: block;
}
.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: .5rem;
}
.alinear-btn {
  margin-right: 5px;
}
