<div class="container mt-5">
  <form class="formulario" [formGroup]="myForm">
      <fieldset>
          <legend>Formulario</legend>

          <div class="contenedor-campos">
              <div class="campo">
                  <label>Nombre</label>
                  <input formControlName="nombre" class="input-text" type="text" placeholder="Tu Nombre">
              </div>

              <div class="campo">
                  <label>Teléfono</label>
                  <input formControlName="telefono" class="input-text" type="tel" placeholder="Tu Teléfono">
              </div>

              <div class="campo">
                  <label>Correo</label>
                  <input formControlName="correo" name="correo" class="input-text" type="email" placeholder="Tu Email">
              </div>
          </div> <!-- .contenedor-campos -->
      </fieldset>
      <div *ngIf="contacService.esAdmin">
        <button (click)="Editar(myForm)" class="btn btn-warning alinear-btn">Editar</button>
        <button (click)="Eliminar(myForm)" class="btn btn-danger alinear-btn">Eliminar</button>
      </div>
  </form>
</div>
