/* You can add global styles to this file, and also import other style files */
/** Globales **/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 105px;
  background-color: #008080;
}
.content {
  margin-left: 110px;
}
.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
}
a {
  text-decoration: none!important;
  font-size: 20px!important;
}
h1, h2, h3, h4 {
  line-height: 1.2;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
}
/** Utilidades **/
.no-margin {
  margin: 0!important;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}
